---
title: "Non-acoustical noise for speaker verification"
authors:
  - "Sayaka SHIOTA"
  - "Tomoko MATSUI"
  - "Hitoshi KIYA"
year: 2014
type: "domestic"
venue: "Acoustical Society of Japan Autumn Meeting, pp. 1-R-12, 北海道北海学園大学豊平キャンパス, 2014-09-03."
url: "http://www.asj.gr.jp/annualmeeting/2014autumn_youryou.html"
webpage: "http://www.asj.gr.jp/annualmeeting/2014autumn_youryou.html"
local: "https://www.notion.so/3c7d54c353c8814aae4cec187beba781"
---
