---
title: "Non-acoustical noise for speaker verification"
authors:
  - "Sayaka SHIOTA"
  - "Tomoko MATSUI"
  - "Hitoshi KIYA"
year: 2014
type: "domestic"
venue: "Acoustical Society of Japan Autumn Meeting, pp. 1-R-12, 北海道北海学園大学豊平キャンパス, 2014-09-03."
url: "http://www.asj.gr.jp/annualmeeting/2014autumn_youryou.html"
webpage: "http://www.asj.gr.jp/annualmeeting/2014autumn_youryou.html"
local: "https://www.notion.so/signed/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Ff5f029f9-eee2-4bc2-b830-072ad5f6e7d5%2F174d31e0-9ee8-4fc3-ab41-d4af5b25d194%2FASJ2014_09_shiota.pdf?table=block&id=3c7d54c3-53c8-814a-ae4c-ec187beba781"
---
