---
titleEn: "VOICE LIVENESS DETECTION FOR SPEAKER VERIFICATION BASED ON A TANDEM SINGLE/DOUBLE-CHANNEL POP NOISE DETECTOR"
authorsJa:
  - "塩田 さやか"
  - "フェルナンド ビリャビセンシオ"
  - "山岸 順一"
  - "小野 順貴"
  - "越前 功"
  - "松井 知子"
authorsEn:
  - "Sayaka SHIOTA"
  - "Fernando Villaviencio"
  - "Junichi YAMAGISHI"
  - "Nobutaka ONO"
  - "Isao ECHIZEN"
  - "Tomoko MATSUI"
date: "2016-06-22"
type: "international"
venue: "The Speaker and Language Recognition Workshop Odyssey, pp. 259-263, Spain, Bilbao, 2016-06-22."
url: "http://www.odyssey2016.org/papers/abstracts.html#abs80"
webpage: "http://www.odyssey2016.org/papers/abstracts.html#abs80"
---
