---
title: "VOICE LIVENESS DETECTION FOR SPEAKER VERIFICATION BASED ON A TANDEM SINGLE/DOUBLE-CHANNEL POP NOISE DETECTOR"
authors:
  - "Sayaka SHIOTA"
  - "Fernando Villaviencio"
  - "Junichi YAMAGISHI"
  - "Nobutaka ONO"
  - "Isao ECHIZEN"
  - "Tomoko MATSUI"
year: 2016
type: "international"
venue: "The Speaker and Language Recognition Workshop Odyssey, pp. 259-263, Spain, Bilbao, 2016-06-22."
url: "http://www.odyssey2016.org/papers/abstracts.html#abs80"
webpage: "http://www.odyssey2016.org/papers/abstracts.html#abs80"
local: "https://www.notion.so/signed/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Ff5f029f9-eee2-4bc2-b830-072ad5f6e7d5%2Fd354b445-a70c-422c-88ce-771ba57b57d7%2FOdyssey2016.pdf?table=block&id=3c7d54c3-53c8-815e-b976-f8d731aa9b61"
---
