---
title: "VOICE LIVENESS DETECTION FOR SPEAKER VERIFICATION BASED ON A TANDEM SINGLE/DOUBLE-CHANNEL POP NOISE DETECTOR"
authors:
  - "Sayaka SHIOTA"
  - "Fernando Villaviencio"
  - "Junichi YAMAGISHI"
  - "Nobutaka ONO"
  - "Isao ECHIZEN"
  - "Tomoko MATSUI"
year: 2016
type: "international"
venue: "The Speaker and Language Recognition Workshop Odyssey, pp. 259-263, Spain, Bilbao, 2016-06-22."
url: "http://www.odyssey2016.org/papers/abstracts.html#abs80"
---
