---
title: "J-SPAW2: A Japanese Corpus for Speaker Verification and Anti-Spoofing with Challenging Replay and Speech Synthesis Attacks"
authors:
  - "Sayaka SHIOTA"
  - "Suzuka HORIE"
  - "Sawato Furubayashi"
  - "Shinnosuke Takamichi"
year: 2026
type: "international"
venue: "The Speaker and Language Recognition Workshop Odyssey, Lisbon, 2026-06-26."
url: "https://www.isca-archive.org/odyssey_2026/shiota26_odyssey.pdf"
---
