---
titleEn: "J-SPAW2: A Japanese Corpus for Speaker Verification and Anti-Spoofing with Challenging Replay and Speech Synthesis Attacks"
authorsJa:
  - "塩田 さやか"
  - "堀江 涼花"
  - "古林 嵯羽仁"
  - "高道 慎之介"
authorsEn:
  - "Sayaka SHIOTA"
  - "Suzuka HORIE"
  - "Sawato Furubayashi"
  - "Shinnosuke Takamichi"
date: "2026-06-26"
type: "international"
venue: "The Speaker and Language Recognition Workshop Odyssey, Lisbon, 2026-06-26."
url: "https://www.isca-archive.org/odyssey_2026/shiota26_odyssey.pdf"
publish: "https://www.isca-archive.org/odyssey_2026/shiota26_odyssey.pdf"
---
